<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs'); %>
</head>

<body>
    <div class="content">
        <%- include('./partials/navbar.ejs'); %>
        <h1>Main</h1>
    </div>
</body>

</html>