<li>
    <ul>
        <a class="<% if (active === 'main') { %> active <% } %>" href="/">Main</a>
    </ul>
    <ul>
        <a class="<% if (active === 'contacts') { %> active <% } %>" href="/contacts">Contacts</a>
    </ul>
</li>